*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-color: #0a1a29;
    display: flex;
    justify-content: center;
    
    }
img{
    width:50%;
    height:auto;
    /* border: 10px solid #0a1a29 ; */
}